@media screen and (max-width: 1080px) {
#myCarousel {
    max-width: 0 auto;
  
  }
}

.container {
    width: 100%; /* Atur lebar container agar sesuai dengan lebar layar */
     /* Untuk mengatur posisi container di tengah */
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 100%; /* Atur lebar maksimal pada resolusi layar yang lebih besar */
    }
  }

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}